@model AllSafeDrainsQueryModel

<div class="row mb-5">
    <div class="col-12">
        <div class="text-md-left text-center float-md-right list-group-horizontal ">
            <div class="form-inline">
                <h6 class="mr-3 pt-2">Sort By:</h6>
                <select asp-for="Sorting" class="shadow-sm form-control btn btn-lg btn-light dropdown-toggle sort-dropdown" id="sort-dropdown">
                    <option class="text-left" value="1">Flow Rate Ascending</option>
                    <option class="text-left" value="2">Flow Rate Descending</option>
                    <option class="text-left" value="3">Diameter Rate Descending</option>
                    <option class="text-left" value="4">Diameter Rate Descending</option>
                </select>
            </div>
        </div>
    </div>
</div>
