@model SafeDrainFormModel

@{
    ViewBag.Title = "Add Safe Drain";
    ViewBag.View = "Add";
    ViewBag.ImageGallery = "safedrains";
}

<div id="view-all">
    <partial name="_SafeDrainFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}