
<li class="nav-item dropdown">
    <a class="nav-link btn btn-lg text-white dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>

    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="adminDropdown">

        <h4 class="text-center">Administrator Panel</h4>
        <div class="dropdown-divider"></div>

        <div class="d-md-flex align-items-start justify-content-start">

            <div class="col">
                <div class="mb-4">
                    <div class="dropdown-header">Drains</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Drains" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Drains</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Drains" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Drain</a>
                </div>

                <div class="mb-4">
                    <div class="dropdown-header">Attica Details</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaDetails" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Attica Details</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaDetails" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Attica Detail</a>
                </div>

                <div class="mb-4">
                    <div class="dropdown-header">Articles</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Articles" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Articles</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Articles" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Article</a>
                </div>
            </div>

            <div class="col">
                <div class="mb-4">
                    <div class="dropdown-header">Waterproofing Kits</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="WaterproofingKits" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Waterproofing Kits</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="WaterproofingKits" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Waterproofing Kit</a>
                </div>

                <div class="mb-4">
                    <div class="dropdown-header">Attica Drains</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaDrains" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Attica Drains</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaDrains" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Attica Drain</a>
                </div>

                <div>
                    <div class="dropdown-header">Merchants</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Merchants" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Merchants</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Merchants" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Merchant</a>
                </div>
            </div>

            <div class="col">
                <div class="mb-4">
                    <div class="dropdown-header">Drain Accessories</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Accessories" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Accessories</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Accessories" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Accessory</a>
                </div>

                <div>
                    <div class="dropdown-header">Attica Parts</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaParts" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Attica Parts</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaParts" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Attica Part</a>
                </div>
            </div>

            <div class="col">
                <div class="mb-4">
                    <div class="dropdown-header">Extensions</div>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Extensions" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Extensions</a>
                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Extensions" asp-action="Add"><i class="pr-2 bi bi-plus-circle"></i>Add Extension</a>
                </div>
            </div>

            <div class="col">
                <div class="dropdown-header">Image Galleries</div>
                <a class="dropdown-item hover-highlight mb-2" asp-area="" asp-controller="Images" asp-action="DrainsGallery">Drains Gallery</a>
                <a class="dropdown-item hover-highlight mb-2" asp-area="" asp-controller="Images" asp-action="WaterproofingKitsGallery">Waterproofing Kits Gallery</a>
                <a class="dropdown-item hover-highlight mb-2" asp-area="" asp-controller="Images" asp-action="AccessoriesGallery">Drain Accessories Gallery</a>
                <a class="dropdown-item hover-highlight mb-2" asp-area="" asp-controller="Images" asp-action="ExtensionsGallery">Extensions Gallery</a>
                <a class="dropdown-item hover-highlight mb-2" asp-area="" asp-controller="Images" asp-action="AtticaDetailsGallery">Attica Details Gallery</a>
                <a class="dropdown-item hover-highlight mb-2" asp-area="" asp-controller="Images" asp-action="AtticaPartsGallery">Attica Parts Gallery</a>
                <a class="dropdown-item hover-highlight mb-2" asp-area="" asp-controller="Images" asp-action="ArticlesGallery">Articles Gallery</a>
            </div>
        </div>
    </div>
</li>
