@{
    var isAddView = ViewBag.View == "Add" ? true : false;
    var isEditView = ViewBag.View == "Edit" ? true : false;
    var isDetailsView = ViewBag.View == "Details" ? true : false;
    var controller = ViewContext.RouteData.Values["controller"];
}

<div class="form-group mb-3">

    @if (Model.Image != null)
    {
        var imgSource = Model.Image.Id == 1 ? "common/defaultImage.gif" : $"{ViewBag.ImageGallery}/{Model.Image.Name}";
        <div class="shadow card h-100 border-1 mb-4">
            <input type="hidden" />
            <div class="card-img-custom">
                <img src="~/images/@imgSource" class="img-fluid mx-auto d-block card-img-custom" alt="Card image cap">
            </div>
        </div>
    }

    @if (isAddView)
    {
        <div class="form-group">
            <a onclick="showInPopup('@Url.Action("AddImage",$"{controller}",null,Context.Request.Scheme)','Choose Image')" class="btn btn-success text-white">Choose Image</a>
        </div>
    }

    @if (isEditView)
    {
        <div class="form-group">
            <a onclick="showInPopup('@Url.Action("EditImage",$"{controller}",new { modelId = Model.Id },Context.Request.Scheme)','Choose Image')" class="btn btn-success text-white">Choose Image</a>
        </div>
    }
</div>

@if (!isDetailsView)
{
    <hr />
}
