<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Building Drainage Consultant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a href="@Url.Action("Index", "Home", new { Area = "" })" class="navbar-brand">
                    <img src="~/images/common/logoSmall.png" title="title" alt="additional title" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav navbar-collapse mr-auto">

                        @*Drains menu*@
                        <li class="nav-item dropdown">
                            <a class="nav-item btn btn-lg text-white  dropdown-toggle sort-dropdown" asp-area="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Drains
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Drains" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Drains</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="Drains" asp-action="Mine"><i class="pr-2 bi bi-clipboard-check"></i>My Drains</a>
                                }
                            </div>
                        </li>

                        @*Attica Details menu*@
                        <li class="nav-item dropdown">
                            <a class="nav-item btn btn-lg text-white  dropdown-toggle sort-dropdown" asp-area="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attica Details
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaDetails" asp-action="All"><i class="pr-2 bi bi-card-list"></i>All Attica Details</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item hover-highlight" asp-area="" asp-controller="AtticaDrains" asp-action="Mine"><i class="pr-2 bi bi-clipboard-check"></i>My Attica Details</a>
                                }
                            </div>
                        </li>

                        @*Merhchants*@
                        <li class="nav-item">
                            <a class="nav-item text-white btn btn-lg" asp-area="" asp-controller="Merchants" asp-action="All">Merchants</a>
                        </li>

                        @if (User.IsAdmin())
                        {
                            <partial name="_AdminMenuPartial" />
                        }

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Modal*@
    <div class="modal fade" id="window-modal" tabindex="-1" role="dialog" aria-labelledby="window-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

                @*Header*@
                <div class="modal-header">
                    <h5 class="modal-title" id="window-modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>

                @*Footer*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    @*Loader*@
    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Building Drainage Consultant
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
