
@{
    Layout = null;
}

@if (Model.Images.Count == 0)
{
    <div class="col-12">
        <h4 class="col-6 offset-3">No Images Found!</h4>
    </div>
}
else
{
    <div class="modal-body">
        <div class="row col-12">

            @foreach (var img in Model.Images)
            {
                var gallery = img.ImageCategory.ToString();

                <div class="col-6 col-md-6 col-lg-4 mb-3">
                    <div class="shadow card h-100 border-1">
                        <form asp-action="AddImage" asp-route-id="@img.Id" onsubmit="return AjaxPost(this);">
                            <div class="card-img-custom">
                                <img src="~/images/@gallery/@img.Name" class="img-fluid mx-auto d-block card-img-custom" alt="Card image cap">
                            </div>
                            <h4 class="card-title text-center">
                                <span class="font-weight-bold text-dark text-uppercase small">@img.Name</span>
                            </h4>
                            <div class="card-footer text-center">
                                <input class="shadow btn btn-primary" type="submit" value="Choose" />
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
}