@{
    ViewData["Title"] = "Find Your Drainage Solution";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an online tool to help you find a building drainage solution. The products presented are produced by the Austrian company HL Hutterer & Lechner GmbH</p>
</div>
