@model AtticaDetailFormModel

@{
    var isEditView = ViewBag.View == "Edit" ? true : false;
}

<div class="row">
    <div class="offset-md-3 col-md-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">
            @if (Model.Image != null)
            {
                <input asp-for="ImageId" value="@Model.ImageId" type="hidden" />
            }

            <partial name="_ImagePartial" model="Model" />

            <div class="form-group">
                <label asp-for="RoofType"></label>
                <select class="shadow-sm form-control" asp-for="RoofType" asp-items="Html.GetEnumSelectList<AtticaRoofTypeEnum>()">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="RoofType" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsWalkable"></label>
                <select class="shadow-sm form-control" asp-for="IsWalkable" asp-items="Html.GetEnumSelectList<AtticaWalkableEnum>()">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="IsWalkable" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ScreedWaterproofing"></label>
                <select class="shadow-sm form-control" asp-for="ScreedWaterproofing" asp-items="Html.GetEnumSelectList<AtticaScreedWaterproofingEnum>()">
                    <option value="">--Select ScreedWaterproofing option--</option>
                </select>
                <span asp-validation-for="ScreedWaterproofing" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="shadow-sm form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>


            <input class="btn btn-primary" type="submit" value="Save" />

            @if (isEditView)
            {
                <partial name="_DeleteButtonWithModalPopup" model="@Model" />
            }

        </form>
    </div>
</div>