@model AllAtticaDetailsQueryModel

@{
    ViewBag.Title = "All Attica Details";
}

<div class="container pt-5">
    
            <partial name="_AtticaDetailsSearchBarPartial" />


            <partial name="_AtticaDetailsPartial" model="@Model" />

</div>





