@model AllAtticaDetailsQueryModel

@{
    ViewBag.Title = "All Attica Details";
}

<div class="container pt-5">

    <partial name="_AtticaDetailSearchBarPartial" />

    <partial name="_AtticaDetailPartial" model="@Model" />

</div>