@model AtticaDetailFormModel

@{
    ViewBag.Title = "Edit Attica Detail";
    ViewBag.View = "Edit";
    ViewBag.ImageGallery = "atticadetails";
}

<div id="view-all">
    <partial name="_AtticaDetailFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
