@model IEnumerable<ArticleServiceModel>

@{
    ViewBag.Title = "All Articles";
}

<div class="row">
    @if (!Model.Any())
    {
        <div class="offset-3 col-6">
            <h2 class="text-center">No Articles found!</h2>
        </div>
    }

    @foreach (var article in Model)
    {
        var imgSource = article.Image.Id == 1 ? "common/defaultImage.gif" : $"articles/{article.Image.Name}";

        <div class="card mb-3">
            <img class="card-img-top" src="~/images/@imgSource" alt="@article.Title">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">@article.Content</p>
                @if (User.IsAdmin())
                {
                    <a asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id" class="d-block shadow btn btn-warning">Edit</a>
                }
            </div>
        </div>
    }
</div>
