@model ArticleFormModel

<div class="jumbotron">
    <div class="text-center">
        <img class="w-100" src="@Model.ImageUrl" alt="@Model.Title">

        <h1 class="display-4">@Model.Title</h1>
        <hr class="my-4">
        <p>@Model.Content</p>
    </div>
</div>
