@model ArticleFormModel

@{
    ViewBag.Title = "Edit Article";
    ViewBag.View = "Edit";
    ViewBag.ImageGallery = "articles";
}

<div id="view-all">
    <partial name="_ArticleFormPartial" model="@Model" />
</div>