@model DrainFormModel

@{
    ViewBag.Title = "Add Drains";
}

<div id="view-all">
    <partial name="_DrainFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}