@model DrainFormModel

@{ Layout = null;
}


@if (!Model.Accessories.Any())
{
    <div class="col-12">
        <h4 class="col-6 offset-3">No Accessories Found!</h4>
    </div>
}
else
{
    <div class="modal-body">
        <div class="row col-12">
            @foreach (var accessory in Model.Accessories)
            {
                <div class="col-6 col-md-6 col-lg-4 mb-3">
                    <div class="shadow card h-100 border-1">
                        <form asp-action="AddAccessories" onsubmit="return AjaxPost(this);">
                            <input asp-for="AccessoryId" value="@accessory.Id" type="hidden" />
                            <input asp-for="Id" value="@Model.Id" type="hidden" />
                            @if (accessory.Image != null)
                            {
                                var imgSource = accessory.Image.Id == 1 ? "common/defaultImage.gif" : $"accessories/{accessory.Image.Name}";

                                <div class="card-img-custom">
                                    <img src="~/images/@imgSource" class="img-fluid mx-auto d-block card-img-custom" alt="Card image cap">
                                    <hr />
                                </div>
                            }
                            <div class="card-body text-center">
                                <h4 class="font-weight-bold mt-2 text-left text-dark text-center text-uppercase">@accessory.Name</h4>
                            </div>
                            <div class="card-footer text-center">
                                <input class="shadow btn btn-primary" type="submit" value="Add" />
                            </div>
                        </form>

                    </div>
                </div>
            }

        </div>
    </div>
}
