@model AllDrainsQueryModel

@{
    ViewBag.Title = "All Drains";
    ViewBag.View = "All";
}

<div class="container pt-5">
    <form asp-controller="Drains" asp-action="All" name="form" method="get">
        <div class="row">
            <div class="col-md-8 order-md-2 col-lg-9">
                <partial name="_DrainSortingBarPartial" model="@Model" />

                <partial name="_DrainPagesNavigationPartial" model="@Model" />

                <partial name="_DrainAllPartial" model="@Model.Drains" />

                <partial name="_DrainPagesNavigationPartial" model="@Model" />
            </div>

            <partial name="_DrainSidebarFilterPartial" />

        </div>
    </form>
</div>

@section Scripts {

    <script>
        document.getElementById("sort-dropdown").addEventListener("change", () => {
            document.forms["form"].submit();
        });

        $("#reset-drains-button").click(function () {
            document.getElementById("searchTerm-input").value = "";
            document.getElementById("direction-select").value = "";
            document.getElementById("diameter-select").value = "";
            document.getElementById("visiblePart-select").value = "";
            document.getElementById("waterproofing-select").value = "";
            document.getElementById("heating-select").value = "";
            document.getElementById("renovation-select").value = "";
            document.getElementById("flapSeal-select").value = "";
            document.getElementById("loadClass-select").value = "";
        });
    </script>
}