@model AllDrainsQueryModel

@{
    ViewBag.Title = "All Drains";
    ViewBag.View = "All";
}

<div class="container pt-5">
    <form asp-controller="Drains" asp-action="All" name="form" method="get">
        <div class="row">
            <div class="col-md-8 order-md-2 col-lg-9">
                <partial name="_DrainSortingBarPartial" model="@Model" />

                <partial name="_DrainAllPartial" model="@Model.Drains" />

                <partial name="_DrainPagesNavigationPartial" model="@Model" />
            </div>

            <partial name="_DrainSidebarFilterPartial" />

        </div>
    </form>
</div>