@model DrainFormModel

@{
    ViewBag.Title = "Edit Drain";
    ViewBag.View = "Edit";
    ViewBag.ImageGallery = "drains";
}

<div id="view-all">
    <partial name="_DrainFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}