@model DrainFormModel

@{
    Layout = null;
}

@if (!Model.Images.Any())
{
    <div class="col-12">
        <h4 class="col-6 offset-3">No Drain Images Found!</h4>
    </div>
}
else
{
    <div class="modal-body">
        <div class="row col-12">

            @foreach (var img in Model.Images)
            {
                <div class="col-6 col-md-6 col-lg-4 mb-3">
                    <div class="shadow card h-100 border-1">
                        <form asp-action="EditDrainImage" asp-route-id="@img.Id" asp-route-drainId="@Model.Id" onsubmit="return AjaxPost(this);">
                            <div class="card-img-custom">
                                <img src="~/images/drains/@img.Name" class="img-fluid mx-auto d-block card-img-custom" alt="Card image cap">
                            </div>
                            <div class="card-footer text-center">
                                <input class="shadow btn btn-primary" type="submit" value="Choose" />
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
}