@model AllAtticaDrainsQueryModel

@{
    var isMineView = ViewBag.View == "Mine" ? true : false;
    var atticaString = "HL68";
}

<div class="row">
    @if (!Model.Drains.Any())
    {
        <div class="offset-3 col-6">
            <h2 class="text-center">No Attica Drains found!</h2>
        </div>
    }

    @foreach (var atticaDrain in Model.Drains)
    {
        <div class="col-6 col-md-6 col-lg-4 mb-3">
            <div class="shadow card h-100 border-1">
                <div class="card-body text-center">
                    @if (atticaDrain.AtticaParts.Any())
                    {
                        var displayPart = atticaDrain.AtticaParts.First(x => x.Name.Contains(atticaString));
                        @if (displayPart.Image != null)
                        {
                            var imgSource = displayPart.Image.Id == 1 ? "common/defaultImage.gif" : $"atticaparts/{displayPart.Image.Name}";
                            <img src="~/images/@imgSource" class="card-img-top" alt="Alternate Text">
                        }
                    }
                    <h4 class="card-title text-center">
                        <span class="font-weight-bold text-dark text-uppercase small">@atticaDrain.Name</span>
                    </h4>

                    <div class="form-group">
                        @if (User.IsAdmin())
                        {
                            <a asp-controller="AtticaDrains" asp-action="Edit" asp-route-id="@atticaDrain.Id" class="shadow btn btn-warning mr-1 mb-2">Edit</a>
                        }
                        <a asp-controller="AtticaDrains" asp-action="Details" asp-route-id="@atticaDrain.Id" class="shadow btn btn-primary mb-2">View Details</a>

                        @if (isMineView)
                        {
                            <a asp-controller="AtticaDrains" asp-action="RemoveFromMine" asp-route-id="@atticaDrain.Id" class="shadow btn btn-danger">Remove</a>
                        }
                    </div>



                </div>
            </div>
        </div>
    }

</div>
