@model AtticaDrainPartsDetailsModel

@{
    var isAddView = ViewBag.Title == "Add Attica Drain" ? true : false;
    var isEditView = ViewBag.Title == "Edit Attica Drain" ? true : false;
    var isAddAtticaPartsView = ViewBag.Title == "Add Attica Parts" ? true : false;

}

<div class="row">
    <div class="offset-md-3 col-md-6">

        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">

            <partial name="_ChooseAtticaDetailPartial" model="Model" />

            @if (isAddAtticaPartsView || isEditView)
            {
                <partial name="_ChooseAtticaPartPartial" model="Model" />
            }

            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="shadow-sm form-control" asp-for="Name">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FlowRate"></label>
                <input class="shadow-sm form-control" asp-for="FlowRate">
                <span asp-validation-for="FlowRate" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DrainageArea"></label>
                <input class="shadow-sm form-control" asp-for="DrainageArea">
                <span asp-validation-for="DrainageArea" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ScreedWaterproofing"></label>
                <select class="shadow-sm form-control" asp-for="ScreedWaterproofing" asp-items="Html.GetEnumSelectList<AtticaScreedWaterproofingEnum>()">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="ScreedWaterproofing" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConcreteWaterproofing"></label>
                <select class="shadow-sm form-control" asp-for="ConcreteWaterproofing" asp-items="Html.GetEnumSelectList<AtticaConcreteWaterproofingEnum>()">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="ConcreteWaterproofing" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Diameter"></label>
                <select class="shadow-sm form-control" asp-for="Diameter" asp-items="Html.GetEnumSelectList<AtticaDiameterEnum>()">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="Diameter" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VisiblePart"></label>
                <select class="shadow-sm form-control" asp-for="VisiblePart" asp-items="Html.GetEnumSelectList<AtticaVisiblePartEnum>()">
                    <option value="">--Select an option--</option>
                </select>
                <span asp-validation-for="VisiblePart" class="small text-danger"></span>
            </div>

            @if (isAddView)
            {
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Choose Parts" />
                </div>
            }

            @if (isEditView)
            {
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <partial name="_DeleteButtonWithModalPopup" model="@Model" />
                </div>
            }

            @if (isAddAtticaPartsView)
            {
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
            }
        </form>
    </div>
</div>