@model AtticaDrainPartsDetailsModel

@{
    ViewBag.Title = "Add Attica Drain";
}

<div id="view-all">
    @await Html.PartialAsync("_AtticaDrainFormPartial", Model)
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
