@model AtticaDrainFormModel

@{
    ViewBag.Title = "Add Attica Drain";
    ViewBag.View = "Add";
}

<div id="view-all">
    <partial name="_AtticaDrainFormPartial" model="@Model"/>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}