@model AtticaDrainPartsDetailsModel

@{
    Layout = null;
}

@if (!Model.AtticaDetails.Any())
{
    <div class="col-12">
        <label class="col-6 offset-3">No Attica Details Found!</label>
    </div>
}
else
{
    <div class="modal-body">
        <div class="row col-12">

            @foreach (var atticaDetail in Model.AtticaDetails)
            {
                var roofType = atticaDetail.RoofType == AtticaRoofTypeEnum.WarmRoof ? "Warm Roof" : "Cold Roof";
                var isWalkable = atticaDetail.IsWalkable == AtticaWalkableEnum.Walkable ? "Walkable" : "Not Walkable";


                <div class="col-6 col-md-6 col-lg-4 mb-3">
                    <div class="shadow card h-100 border-1">
                        <form asp-action="AddAtticaDetail" asp-route-id="@atticaDetail.Id" onsubmit="return AjaxPost(this);">
                            <div class="card-img-custom">
                                <img src="@atticaDetail.ImageUrl" class="img-fluid mx-auto d-block card-img-custom" alt="Card image cap">
                                <hr />
                            </div>
                            <div class="card-body text-center">
                                <h4 class="font-weight-bold mt-2 text-left text-dark text-center text-uppercase small">@roofType</h4>

                                <h4 class="font-weight-bold text-left text-dark text-center text-uppercase small">@isWalkable</h4>
                            </div>
                            <div class="card-footer text-center">
                                <input class="shadow btn btn-primary" type="submit" value="Choose" />
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
}