@model AllAtticaDrainsQueryModel

@{
    ViewBag.Title = "All Attica Drains";
    ViewBag.Controller = "All";
}

<form method="get">
    <div class="row col-md-4 mb-4">
        <div class="form-outline">
            <input asp-for="SearchTerm" class="form-control" placeholder="Search by Name..." />
        </div>
        <button type="submit" asp-controller="AtticaDrains" asp-action="All" class="btn btn-primary ">
            <i class="pr-1 pl-1 bi bi-search"></i>
        </button>


    </div>
</form>

<partial name="_AtticaDrainAllPartial" model="@Model" />

<partial name="_AtticaDrainPaginationPartial" model="@Model" />

