@model AtticaDrainFormModel

@{
    ViewBag.Title = "Edit Attica Drain";
}

<div id="view-all">
    <partial name="_AtticaDrainFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
