@model AllAtticaDrainsQueryModel

@{
    ViewBag.Title = "Search Attica Drains";
}

<div class="container pt-5">
    <form asp-controller="AtticaDrains" asp-action="SearchAtticaDrain" method="get">
        <div class="row">

            <div class="col-md-8 order-md-2 col-lg-9">
                <partial name="_AtticaDrainSortingBarPartial" model="@Model" />

                <partial name="_AtticaDrainAllPartial" model="@Model" />

                <partial name="_AtticaDrainPagesNavigationPartial" model="@Model" />
            </div>

            <partial name="_AtticaDrainSidebarFilterPartial" model="@Model" />
        </div>
    </form>
</div>
