@model AtticaPartFormModel

@{
    ViewBag.Title = "Add Attica Part";
    ViewBag.View = "Add";
    ViewBag.ImageGallery = "atticaparts";
}

<div id="view-all">
    <partial name="_AtticaPartFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
