@model AtticaPartFormModel

@{
    ViewBag.Title = "Edit Attica Part";
}

<div id="view-all">
    <partial name="_AtticaPartFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
